:root{
    --header-heigth: 70px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

header{
    width: 100%;
    height: var(--header-heigth);
    background-color: aquamarine;
}

main{
    height: calc(100vh - var(--header-heigth));
    overflow-y: scroll;
}